@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: Arial;
  position: relative;
}

button:focus,
.btn.focus,
.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/*
*************************************
Helper Classes Start
*************************************
*/
/* Image Classes */
.img-full {
  width: 100% !important;
  height: 100% !important;
}

.img-80 {
  width: 100% !important;
  height: 80% !important;
}

.img-half {
  width: 100% !important;
  height: 50% !important;
}

/* Object Fitting Classes */
.object-cover {
  object-fit: cover !important;
}

.object-contain {
  object-fit: contain !important;
}

/*
*************************************
Helper Classes End
*************************************
*/
/*
*************************************
Universal Classes Start
*************************************
*/
/* Navbar Course Dropdown Item */
.course_dropdown_category-item .course_category-icon {
  background: #fe9d68;
  padding: 8px 0;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
}
.course_dropdown_category-item .course_category-text h6 {
  font-size: 14px;
}
.course_dropdown_category-item .course_category-text h6 a {
  text-decoration: none;
  color: #fe9d68;
  font-weight: bold;
}
.course_dropdown_category-item .course_category-text h6 a:hover {
  color: #1b1e21;
}
.course_dropdown_category-item .course_category-text p {
  font-size: 12px;
}

/*
*************************************
Universal Classes Start
*************************************
*/
/*
*************************************
Home Page
*************************************
*/
/* Home Portion */
.home_portion {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.home_portion .home_portion-title h3 {
  color: #fe9d68;
  font-weight: bold;
}
.home_portion .home_portion-title p {
  font-size: 13px;
  color: #353a48;
  margin-bottom: 0;
}

/* Hero */
.hero_wrapper {
  width: 100%;
  height: 98vh;
  background: #303341;
  overflow: hidden;
}
.hero_wrapper .page_menu_course-dropdown {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  padding-top: 100px !important;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 999;
  display: none;
}
.hero_wrapper .hero_navbar {
  width: 100%;
  top: 30px;
  left: 0;
  z-index: 999;
}
.hero_wrapper .hero_navbar .navbar-brand {
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
}
.hero_wrapper .hero_navbar .navbar-brand span {
  color: #fe9d68;
}
.hero_wrapper .hero_navbar #hero-menu .desktop_nav .nav-item {
  position: relative;
}
.hero_wrapper .hero_navbar #hero-menu .desktop_nav .nav-item .nav-link {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  padding: 5px 10px;
  margin: 0 10px;
}
.hero_wrapper .hero_navbar #hero-menu .desktop_nav .nav-item .nav-link:hover {
  color: #fe9d68;
}
.hero_wrapper .hero_navbar #hero-menu .desktop_nav .nav-item .hero_menu-login {
  background: #fe9d68;
  border-radius: 3px;
}
.hero_wrapper .hero_navbar #hero-menu .desktop_nav .nav-item .hero_menu-login:hover {
  color: #1b1e21;
}
.hero_wrapper .hero_navbar #hero-menu .desktop_nav .nav-item .page_menu-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  background: #fafafa;
  border-top: 3px solid #fe9d68;
  min-width: 200px;
  z-index: 999;
  display: none;
}
.hero_wrapper .hero_navbar #hero-menu .desktop_nav .nav-item .page_menu-dropdown .page_menu_dropdown-item {
  display: block;
  text-decoration: none;
  color: #a9abb0;
  font-size: 12px;
  border-bottom: 1px solid #e6e6e7;
  padding: 11px 20px;
}
.hero_wrapper .hero_navbar #hero-menu .desktop_nav .nav-item .page_menu-dropdown .page_menu_dropdown-item:hover {
  color: #fe9d68;
  background: #f4f4f4;
}
.hero_wrapper .hero_navbar #hero-menu .mobile_nav .nav-item {
  border-bottom: 1px solid #e6e6e7;
}
.hero_wrapper .hero_navbar #hero-menu .mobile_nav .nav-item .nav-link {
  font-size: 13px;
  color: #a9abb0;
  padding: 10px 20px;
  display: block;
}
.hero_wrapper .hero_navbar #hero-menu .mobile_nav .nav-item .nav-link:hover {
  color: #fe9d68;
  background: #f4f4f4;
}
.hero_wrapper .hero_navbar #hero-menu .mobile_nav .nav-item .mobile_nav-dropdown {
  display: none;
}
.hero_wrapper .hero_navbar #hero-menu .mobile_nav .nav-item .mobile_nav-dropdown .mobile_nav-dropdown-item {
  text-decoration: none;
  font-size: 13px;
  color: #a9abb0;
  padding: 10px 10px 10px 40px;
  display: block;
  border-top: 1px solid #e6e6e7;
}
.hero_wrapper .hero_navbar #hero-menu .mobile_nav .nav-item .mobile_nav-dropdown .mobile_nav-dropdown-item:hover {
  color: #fe9d68;
  background: #f4f4f4;
}
.hero_wrapper .hero_navbar #hero-menu .mobile_nav .nav-item .two_parts {
  display: flex !important;
  flex-wrap: wrap;
  width: 100%;
}
.hero_wrapper .hero_navbar #hero-menu .mobile_nav .nav-item .two_parts .mobile_nav-dropdown-item {
  display: block;
  width: 50% !important;
  box-sizing: border-box;
  border-right: 1px solid #e6e6e7;
}
.hero_wrapper .hero_navbar #hero-menu .mobile_nav .nav-item .two_parts .mobile_nav-dropdown-item:nth-child(even) {
  border-right: 0;
}
.hero_wrapper .hero_navbar #hero-menu .mobile_nav .nav-item:first-child {
  border-top: 1px solid #e6e6e7;
}
.hero_wrapper .hero_search-icon {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  z-index: 999;
  width: 80px;
  height: 35px;
  box-sizing: border-box;
  padding: 5px;
  color: #a9abb0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.hero_wrapper .hero_carousel_wrapper .hero_carousel-item {
  width: 100%;
  height: 98vh;
}
.hero_wrapper .hero_carousel_wrapper .hero_carousel-item .hero_carousel-img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.hero_wrapper .hero_carousel_wrapper .hero_carousel-item .hero_content-wrapper {
  width: 100%;
  height: 98vh;
  background: rgba(48, 51, 65, 0.8);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
}
.hero_wrapper .hero_carousel_wrapper .hero_carousel-item .hero_content-wrapper .hero_content-title {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 40px;
  position: relative;
  text-transform: uppercase;
}
.hero_wrapper .hero_carousel_wrapper .hero_carousel-item .hero_content-wrapper .hero_content-title::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #fe9d68;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.hero_wrapper .hero_carousel_wrapper .hero_carousel-item .hero_content-wrapper .hero_content-text {
  font-size: 15px;
  color: #a9abb0 !important;
  margin-bottom: 0;
}

/* Search */
.search_wrapper .search_field {
  font-size: 13px;
  font-style: italic;
  height: calc(1.8em + 0.75rem + 2px);
  border-radius: 2px;
  border: 1px solid rgba(222, 222, 222, 0.8);
}
.search_wrapper .search_filter-select {
  height: calc(1.8em + 0.75rem + 2px);
  border-radius: 2px;
  border: 1px solid rgba(222, 222, 222, 0.8);
  font-size: 13px;
  font-weight: bold;
  padding-left: 10px;
  line-height: 35px;
  position: relative;
}
.search_wrapper .search_filter-select::before {
  content: "";
  width: 20px;
  height: 18px;
  box-sizing: border-box;
  background: #fe9d68;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 2px;
}
.search_wrapper .search_filter-select::after {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 8px;
  width: 8px;
  margin-top: -5px;
}
.search_wrapper .search_filter-select .list {
  border-radius: 0;
  height: 205px;
  overflow-y: auto;
}
.search_wrapper .search_filter-select .list .option {
  font-weight: bold;
  border-bottom: 1px solid #dedede;
  color: #7d7d7e;
}
.search_wrapper .search_filter-select .list .option:last-child {
  border-bottom: 0;
}
.search_wrapper .search_btn {
  background: #383c4b !important;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: bold;
}
.search_wrapper .search_btn:hover {
  background: #fe9d68 !important;
}

/* Visitor */
.visitor_wrapper {
  background: #f5f5f5;
}
.visitor_wrapper .visitor_features .visitor_feature {
  cursor: pointer;
}
.visitor_wrapper .visitor_features .visitor_feature:hover img {
  position: relative;
  top: -10px;
}
.visitor_wrapper .visitor_features .visitor_feature img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 10px;
}
.visitor_wrapper .visitor_features .visitor_feature h5 {
  color: #fe9d68;
  font-weight: bold;
}
.visitor_wrapper .visitor_features .visitor_feature p {
  font-size: 13px;
  color: #353a48;
  margin-bottom: 0;
}

/* Courses */
.courses_wrapper {
  background: #ffffff;
}
.courses_wrapper #courseAccordion {
  width: 100%;
  height: 400px;
}
.courses_wrapper #courseAccordion .course_accordion_link-wrapper .nav .nav-link {
  flex: 1;
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
  font-size: 14px;
  color: #444444;
  cursor: pointer;
}
.courses_wrapper #courseAccordion .course_accordion_link-wrapper .nav .nav-link:hover {
  background: #fe9d68;
  color: #ffffff;
}
.courses_wrapper #courseAccordion .course_accordion_link-wrapper .nav .nav-link .svg-inline--fa {
  margin-right: 8px;
}
.courses_wrapper #courseAccordion .course_accordion_link-wrapper .nav .nav-link:last-child {
  border-bottom: 1px solid #dedede;
}
.courses_wrapper #courseAccordion .course_accordion_content-wrapper {
  background: #334878;
  overflow: hidden;
}
.courses_wrapper #courseAccordion .course_accordion_content-wrapper .collapse {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: auto;
}
.courses_wrapper #courseAccordion .course_accordion_content-wrapper .collapse .nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
}
.courses_wrapper #courseAccordion .course_accordion_content-wrapper .collapse .nav .nav-link:hover {
  color: #fe9d68;
}

/* Latest */
.latest_wrapper {
  background: #f5f5f5;
}
.latest_wrapper .latest_courses .latest_course {
  position: relative;
  overflow: hidden;
}
.latest_wrapper .latest_courses .latest_course .special_course-tag {
  position: absolute;
  top: 20px;
  left: -40px;
  z-index: 99;
  background: #fe9d68;
  width: 150px;
  padding: 8px 15px;
  text-align: center;
  transform: rotate(-45deg);
  box-shadow: 1px 1px 5px rgba(48, 51, 65, 0.8);
}
.latest_wrapper .latest_courses .latest_course .special_course-tag p {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
}
.latest_wrapper .latest_courses .latest_course .card {
  border-radius: 5px;
  overflow: hidden;
  border-bottom: 4px solid #e0e0e0 !important;
}
.latest_wrapper .latest_courses .latest_course .card .card-img-top {
  height: 160px;
  position: relative;
}
.latest_wrapper .latest_courses .latest_course .card .card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}
.latest_wrapper .latest_courses .latest_course .card .card-img-top .latest_course-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(254, 157, 104, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 15px;
  cursor: pointer;
}
.latest_wrapper .latest_courses .latest_course .card .card-img-top .latest_course-overlay .overlay_item {
  background: rgba(54, 58, 73, 0.9);
  padding: 6px 8px;
  margin-bottom: 5px;
  border-radius: 3px;
  overflow: hidden;
}
.latest_wrapper .latest_courses .latest_course .card .card-img-top .latest_course-overlay .overlay_item:last-child {
  margin-bottom: 0;
}
.latest_wrapper .latest_courses .latest_course .card .card-img-top .latest_course-overlay .overlay_item p {
  margin-bottom: 0;
  font-size: 13px;
  color: #ffffff;
  white-space: nowrap;
}
.latest_wrapper .latest_courses .latest_course .card .card-img-top .latest_course-overlay .overlay_item p span {
  margin-left: 5px;
}
.latest_wrapper .latest_courses .latest_course .card .card-body h5 {
  font-weight: bold;
  font-size: 18px;
}
.latest_wrapper .latest_courses .latest_course .card .card-body h5 a {
  color: #383c4b;
  text-decoration: none;
}
.latest_wrapper .latest_courses .latest_course .card .card-body h5 a:hover {
  color: #fe9d68;
}
.latest_wrapper .latest_courses .latest_course .card .card-body p {
  font-size: 13px;
  color: #353a48;
  margin-bottom: 0;
}
.latest_wrapper .latest_courses .latest_course .card .card-body .course_btn {
  background: #fe9d68;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}
.latest_wrapper .latest_courses .latest_course .card .card-body .course_btn:last-child {
  background: #363948;
}
.latest_wrapper .latest_courses .latest_course .card .card-body .course_btn:hover {
  opacity: 0.7;
}

/* Latest News */
.latest_news_wrapper {
  background: #ffffff;
}
.latest_news_wrapper .latest_news-items h5 {
  font-weight: bold;
  margin-bottom: 2rem;
}
.latest_news_wrapper .latest_news-items .latest_news-item {
  margin-bottom: 1.5rem;
}
.latest_news_wrapper .latest_news-items .latest_news-item:last-child {
  margin-bottom: 0;
}
.latest_news_wrapper .latest_news-items .latest_news-item .latest_news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.latest_news_wrapper .latest_news-items .latest_news-item .latest_news-img .date-overlay {
  top: 10px;
  left: 30px;
  background: #262934;
  width: 40px;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  padding: 8px 0;
  border-radius: 5px;
}
.latest_news_wrapper .latest_news-items .latest_news-item .latest_news-img .date-overlay h5, .latest_news_wrapper .latest_news-items .latest_news-item .latest_news-img .date-overlay h6 {
  margin-bottom: 0;
}
.latest_news_wrapper .latest_news-items .latest_news-item .latest_news-img .date-overlay h6 {
  font-size: 12px;
}
.latest_news_wrapper .latest_news-items .latest_news-item h6 {
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.latest_news_wrapper .latest_news-items .latest_news-item h6 a {
  color: #fe9d68;
  text-decoration: none;
}
.latest_news_wrapper .latest_news-items .latest_news-item h6 a:hover {
  color: #1b1e21;
}
.latest_news_wrapper .latest_news-items .latest_news-item .nav {
  margin-bottom: 1rem;
}
.latest_news_wrapper .latest_news-items .latest_news-item .nav .nav-item {
  font-size: 12px;
  margin-right: 1.7rem;
  color: #909090;
}
.latest_news_wrapper .latest_news-items .latest_news-item .nav .nav-item:last-child {
  margin-right: 0;
}
.latest_news_wrapper .latest_news-items .latest_news-item .nav .nav-item span {
  margin-left: 5px;
}
.latest_news_wrapper .latest_news-items .latest_news-item .nav .nav-item a {
  text-decoration: none;
  color: #fe9d68;
}
.latest_news_wrapper .latest_news-items .latest_news-item .nav .nav-item a:hover {
  color: #1b1e21;
}
.latest_news_wrapper .latest_news-items .latest_news-item p {
  font-size: 13px;
  color: #5a5e6a;
  margin-bottom: 0;
}
.latest_news_wrapper .latest_news-items .latest_news-item .latest_news_item-btn {
  padding: 0;
  font-size: 13px;
  color: #5a5e6a;
}
.latest_news_wrapper .latest_news-items .latest_news-item .latest_news_item-btn:hover {
  color: #fe9d68;
}
.latest_news_wrapper .why_wrapper h5 {
  font-weight: bold;
  margin-bottom: 2rem;
}
.latest_news_wrapper .why_wrapper #whyAccordion .card {
  border: 1px solid #dfdfdf;
  background: #ffffff;
  margin-bottom: 1.2rem;
  border-radius: 2px;
}
.latest_news_wrapper .why_wrapper #whyAccordion .card:last-child {
  margin-bottom: 0;
}
.latest_news_wrapper .why_wrapper #whyAccordion .card .card-header {
  cursor: pointer;
  background-color: #ffffff;
  position: relative;
}
.latest_news_wrapper .why_wrapper #whyAccordion .card .card-header h6 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  color: #5a5e6a;
}
.latest_news_wrapper .why_wrapper #whyAccordion .card .card-header .accordion_collapse-icon {
  background: #fe9d68;
  padding: 0 5px;
  box-sizing: border-box;
  color: #ffffff;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.latest_news_wrapper .why_wrapper #whyAccordion .card .card-header .accordion_collapse-icon .svg-inline--fa {
  height: 0.7em;
  vertical-align: 0;
}
.latest_news_wrapper .why_wrapper #whyAccordion .card .card-header:hover h6 {
  color: #fe9d68;
}
.latest_news_wrapper .why_wrapper #whyAccordion .card .card-body p {
  margin-bottom: 0;
  font-size: 13px;
}

/*
*************************************
Home Page End
*************************************
*/
/*
*************************************
Course Page Start
*************************************
*/
/* Page Navbar */
.page-navbar {
  position: relative;
}
.page-navbar .page_menu_course-dropdown {
  position: absolute;
  width: 80%;
  height: 500px;
  padding: 15px 0;
  top: 100%;
  left: 50%;
  background: rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 999;
  display: none;
  border-radius: 5px;
  transform: translateX(-50%);
}
.page-navbar .navbar {
  height: 80px;
  padding: 0 1rem;
}
.page-navbar .navbar .navbar-brand {
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
}
.page-navbar .navbar .navbar-brand span {
  color: #fe9d68;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item .nav-link {
  font-size: 14px;
  font-weight: bold;
  color: #4b4f5c;
  padding: 5px 8px;
  margin: 0 10px;
  display: block;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item .nav-link:hover {
  color: #fe9d68;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item .page_menu-login {
  background: #fe9d68;
  border-radius: 3px;
  color: #ffffff;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item .page_menu-login:hover {
  background: #4b4f5c;
  color: #ffffff;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item .page_menu-dropdown {
  position: absolute;
  top: 96%;
  left: 0;
  background: #ffffff;
  border-top: 3px solid #fe9d68;
  min-width: 200px;
  z-index: 999;
  display: none;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item .page_menu-dropdown .page_menu_dropdown-item {
  display: block;
  text-decoration: none;
  color: #a9abb0;
  font-size: 12px;
  border-bottom: 1px solid #e6e6e7;
  padding: 11px 20px;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item .page_menu-dropdown .page_menu_dropdown-item:hover {
  color: #fe9d68;
  background: #f4f4f4;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item.active {
  border-bottom: 3px solid #fe9d68;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item.active .nav-link {
  color: #fe9d68;
}
.page-navbar .navbar #page-menu .desktop_nav .nav-item.active .page_menu-dropdown {
  top: 100%;
}
.page-navbar .navbar #page-menu .mobile_nav .nav-item {
  border-bottom: 1px solid #e6e6e7;
}
.page-navbar .navbar #page-menu .mobile_nav .nav-item .nav-link {
  font-size: 13px;
  color: #a9abb0;
  padding: 10px 20px;
  display: block;
}
.page-navbar .navbar #page-menu .mobile_nav .nav-item .nav-link:hover {
  color: #fe9d68;
  background: #f4f4f4;
}
.page-navbar .navbar #page-menu .mobile_nav .nav-item .mobile_nav-dropdown {
  display: none;
}
.page-navbar .navbar #page-menu .mobile_nav .nav-item .mobile_nav-dropdown .mobile_nav-dropdown-item {
  text-decoration: none;
  font-size: 13px;
  color: #a9abb0;
  padding: 10px 10px 10px 40px;
  display: block;
  border-top: 1px solid #e6e6e7;
}
.page-navbar .navbar #page-menu .mobile_nav .nav-item .mobile_nav-dropdown .mobile_nav-dropdown-item:hover {
  color: #fe9d68;
  background: #f4f4f4;
}
.page-navbar .navbar #page-menu .mobile_nav .nav-item .two_parts {
  display: flex !important;
  flex-wrap: wrap;
  width: 100%;
}
.page-navbar .navbar #page-menu .mobile_nav .nav-item .two_parts .mobile_nav-dropdown-item {
  display: block;
  width: 50% !important;
  box-sizing: border-box;
  border-right: 1px solid #e6e6e7;
}
.page-navbar .navbar #page-menu .mobile_nav .nav-item .two_parts .mobile_nav-dropdown-item:nth-child(even) {
  border-right: 0;
}
.page-navbar .navbar #page-menu .mobile_nav .nav-item:first-child {
  border-top: 1px solid #e6e6e7;
}

/* Course Details Portion */
.course_portion {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.course_portion .course_portion-title {
  font-size: 32px;
  font-family: "Roboto";
  font-weight: bold;
  color: #fe9d68;
  margin-bottom: 1.5rem;
}
.course_portion .course_portion-subtitle {
  font-family: "Roboto";
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 1rem;
}
.course_portion p {
  font-family: "Open Sans";
  font-size: 16px;
  color: #262626;
  margin-bottom: 1rem;
}
.course_portion .bullet_nav .nav-item {
  font-family: "Open Sans";
  font-size: 16px;
  color: #262626;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.course_portion .bullet_nav .nav-item::before {
  content: "•";
  width: 20px;
  height: 32px;
  font-size: 30px;
  position: absolute;
  top: 7px;
  left: 0;
  transform: translateY(-50%);
}
.course_portion .bullet_nav .nav-item:last-child {
  margin-bottom: 0;
}
.course_portion .course_quote {
  padding: 10px 5px 10px 10px;
  border-left: 4px solid #eeeeee;
  box-sizing: border-box;
}
.course_portion .course_quote p {
  font-family: "Open Sans";
  font-size: 14px;
  color: #262626;
  margin-bottom: 1rem;
}
.course_portion .course_quote .speech_man {
  margin-bottom: 0;
  cursor: pointer;
}
.course_portion .course_quote .speech_man span {
  color: #1b1e21;
  margin-right: 5px;
}
.course_portion .course_quote .speech_man a {
  text-decoration: none;
}
.course_portion .course_quote .speech_man a:hover {
  color: #fe9d68;
}

/* Course Details */
.course_details_wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.course_details_wrapper .course_details_degree-title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 1.5rem;
}

/* Course Studies */
.course_studies_wrapper {
  background: #edfff9;
  border-top: 1px solid #b9eada;
}

/* Course Career */
.course_career_wrapper {
  background: #fff4ef;
  border-bottom: 1px solid #ffded1;
}

/* Online Bachelor Course */
.online_bachelor_wrapper {
  background: #ffffff;
}

/* Online Master Course */
.online_master_wrapper {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  background: #ffffff;
}

/* More Course */
.more_courses_wrapper {
  background: #f7f4ff;
  border-top: 1px solid #ddd3ff;
  border-bottom: 1px solid #ddd3ff;
}

/*
*************************************
Course Page End
*************************************
*/
/*
*************************************
Footer Start
*************************************
*/
.footer_wrapper .footer_top {
  background: #2b2e3b;
}
.footer_wrapper .footer_top .footer_item h6 {
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 15px;
  border-bottom: 1px solid #3d404d;
  margin-bottom: 15px;
}
.footer_wrapper .footer_top .footer_item p {
  font-size: 12px;
  text-align: justify;
  color: #d6d6d8;
  line-height: 21px;
}
.footer_wrapper .footer_top .footer_item .about_links .nav-link {
  font-size: 13px;
  color: #fe9d68;
  padding: 5px 0;
}
.footer_wrapper .footer_top .footer_item .about_links .nav-link .svg-inline--fa {
  color: #d6d6d8;
}
.footer_wrapper .footer_top .footer_item .about_links .nav-link:hover {
  color: #ffffff;
}
.footer_wrapper .footer_bottom {
  background: #262934;
}
.footer_wrapper .footer_bottom .copyright {
  font-size: 13px;
  color: #9daba4;
  margin-bottom: 0;
}
.footer_wrapper .footer_bottom .social-links .nav-link {
  padding: 2px 10px;
  background: #2c2f3c;
  color: #9daba4;
  text-decoration: none;
  margin-right: 5px;
  border-radius: 3px;
}
.footer_wrapper .footer_bottom .social-links .nav-link:hover {
  background: #fe9d68;
  color: #ffffff;
}

/*
*************************************
Footer End
*************************************
*/

/*# sourceMappingURL=style.css.map */
